:root {
  --tt-table-handle-bg-color: var(--tt-gray-light-a-100);
  --tt-table-extend-icon-color: var(--tt-gray-light-a-400);
}

.dark {
  --tt-table-handle-bg-color: var(--tt-gray-dark-a-100);
  --tt-table-extend-icon-color: var(--tt-gray-dark-a-400);
}

.tiptap-table-extend-row-column-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tt-table-handle-bg-color);
  border-radius: var(--tt-radius-lg);

  .tiptap-button-icon {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    color: var(--tt-table-extend-icon-color);
  }

  &.tiptap-table-row-end-add-remove {
    width: 100%;
    height: 0.75rem;
    cursor: row-resize;
  }

  &.tiptap-table-column-end-add-remove {
    width: 0.75rem;
    cursor: col-resize;
  }
}
