:root {
  --tt-bg: var(--white);
  --tt-selected-bg-color: var(--tt-brand-color-50);
  --tt-selected-border-color: var(--tt-brand-color-400);

  // Cell styling
  --tt-cell-bg-color: var(--tt-gray-light-50);
  --tt-cell-border-color: var(--tt-gray-light-200);

  // Indicator styling
  --tt-indicator-item-border-color: var(--tt-gray-light-a-200);
  --tt-indicator-icon-color: var(--tt-gray-light-a-400);
  --tt-indicator-delimiter-color: var(--tt-gray-light-a-500);
}

.dark {
  --tt-bg: var(--black);
  --tt-selected-bg-color: var(--tt-brand-color-900);

  // Cell styling - reuse light border color
  --tt-cell-bg-color: var(--tt-gray-dark-100);
  --tt-cell-border-color: var(--tt-gray-dark-200);

  // Indicator styling
  --tt-indicator-item-border-color: var(--tt-gray-dark-a-200);
  --tt-indicator-icon-color: var(--tt-gray-dark-a-400);
  --tt-indicator-delimiter-color: var(--tt-gray-dark-a-500);
}

// Grid container
.tiptap-table-grid {
  display: grid;
  gap: 0.25rem;
  padding: 0.25rem;
  grid-template-columns: repeat(var(--tt-table-columns), 1rem);
}

// Grid cell
.tiptap-button[data-size="small"].tiptap-table-grid-cell {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  padding: 0;
  border: 1px solid var(--tt-cell-border-color);
  border-radius: var(--tt-radius-xs);
  background-color: var(--tt-cell-bg-color);
  cursor: pointer;
  transition: all 150ms ease;

  &.selected {
    background-color: var(--tt-selected-bg-color);
    border-color: var(--tt-selected-border-color);
  }
}

// Size indicator
.tiptap-table-size-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;
  margin-top: 0.25rem;
}

.tiptap-table-size-indicator-item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  min-height: 2rem;
  padding: 0.5rem;
  border: 1px solid var(--tt-indicator-item-border-color);
  border-radius: var(--tt-radius-xl);
  background: var(--tt-bg);

  .tiptap-table-column-icon,
  .tiptap-table-row-icon {
    width: 1rem;
    height: 1rem;
    color: var(--tt-indicator-icon-color);
  }
}

.tiptap-table-size-indicator-text {
  width: 1.781rem;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
}

.tiptap-table-size-indicator-delimiter {
  flex-shrink: 0;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--tt-indicator-delimiter-color);
}
