// Comment thread highlighting
.tiptap-thread {
  background-color: rgba(255, 212, 0, 0.2);
  border-bottom: 2px solid rgb(255, 212, 0);
  cursor: pointer;
  transition: background-color 0.15s ease;
  
  &:hover {
    background-color: rgba(255, 212, 0, 0.3);
  }
  
  &.is-selected {
    background-color: rgba(255, 212, 0, 0.4);
  }
  
  &.is-resolved {
    background-color: rgba(0, 200, 0, 0.1);
    border-bottom-color: rgb(0, 200, 0);
  }
}

// Dark mode adjustments
.dark {
  .tiptap-thread {
    background-color: rgba(255, 212, 0, 0.15);
    
    &:hover {
      background-color: rgba(255, 212, 0, 0.25);
    }
    
    &.is-selected {
      background-color: rgba(255, 212, 0, 0.35);
    }
    
    &.is-resolved {
      background-color: rgba(0, 200, 0, 0.08);
    }
  }
}

// Block thread styling
.tiptap-block-thread {
  position: relative;
  padding-left: 1rem;
  margin-left: -1rem;
  border-left: 3px solid rgb(255, 212, 0);
  
  &.is-resolved {
    border-left-color: rgb(0, 200, 0);
  }
}
