:root {
  --tt-table-handle-bg-color: var(--tt-gray-light-a-100);
}

.dark {
  --tt-table-handle-bg-color: var(--tt-gray-dark-a-100);
}

.tiptap-table-handle-menu {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tt-table-handle-bg-color);
  border-radius: var(--tt-radius-lg);
  cursor: grab;

  .tiptap-button-icon {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
  }

  &.menu-opened {
    background-color: var(--tt-brand-color-500);

    .tiptap-button-icon {
      color: var(--white);
    }
  }

  &.is-dragging {
    cursor: grabbing;
    background-color: var(--tt-brand-color-500);

    .tiptap-button-icon {
      color: var(--white);
    }
  }

  &.row {
    width: 0.75rem;
    height: var(--table-handle-ref-height);
  }

  &.column {
    height: 0.75rem;
    width: var(--table-handle-ref-width);

    .tiptap-button-icon {
      transform: rotate(90deg);
    }
  }
}
