.tiptap-ai-menu-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.375rem 0.5rem;
  width: 100%;
}

// .tiptap-ai-menu-results {}
// .tiptap-ai-menu-commit {}
