@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);

  .dark & {
    --tt-theme-text: var(--tt-gray-dark-900);
  }
}

body {
  font-family: "Inter", sans-serif;
  color: var(--tt-theme-text);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  overscroll-behavior-y: none;
}

html,
body {
  overscroll-behavior-x: none;
}

html,
body,
#root,
#app {
  background-color: var(--tt-bg-color);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--tt-scrollbar-color) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tt-scrollbar-color);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;
}

// Important so the this does not override the editor behaviour
@media screen and (max-width: 480px) {
  .notion-like-editor-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
}

.notion-like-editor-layout {
  --content-width: minmax(auto, 708px);
  --margin-width: minmax(96px, 1fr);

  display: grid;
  grid-template-columns:
    [full-start] var(--margin-left-width, var(--margin-width))
    [content-start] var(--content-width)
    [content-end] var(--margin-right-width, var(--margin-width))
    [full-end];
  width: 100%;
  position: relative;
}

// Mobile: single column layout
@media screen and (max-width: 1024px) {
  .notion-like-editor-layout {
    --margin-width: minmax(1rem, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .notion-like-editor-layout {
    display: block;
  }
}

.notion-like-editor-content {
  grid-column: content-start / content-end;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

// Mobile fallback
@media screen and (max-width: 768px) {
  .notion-like-editor-content {
    max-width: 768px;
    margin: 0 auto;
  }
}

.notion-like-editor-content .tiptap.ProseMirror.notion-like-editor {
  flex: 1;
  padding: 3rem 3rem 30vh;
}

@media screen and (max-width: 480px) {
  .notion-like-editor-content .tiptap.ProseMirror.notion-like-editor {
    padding: 1.5rem 1.5rem 30vh;
  }
}

// Spinner
.spinner-container {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    svg {
      animation: spin 1s linear infinite;
      height: 1.25rem;
      width: 1.25rem;

      circle {
        opacity: 0.25;
        stroke: currentColor;
        stroke-width: 4;
      }

      path {
        opacity: 0.75;
        fill: currentColor;
      }
    }

    .spinner-loading-text {
      text-align: center;
    }
  }
}
