.tiptap-label {
  --tt-label-color: var(--tt-gray-light-a-800);

  .dark & {
    --tt-label-color: var(--tt-gray-dark-a-800);
  }
}

.tiptap-label {
  margin-top: 0.75rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: normal;
  // text-transform: capitalize;
  color: var(--tt-label-color);
}
